* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Tamma 2", cursive;
}

body {
  margin: 0;
  background-color: #be9eff;
}

#container {
  margin-top: 56px;
  width: 100%;
}

.main-app {
  width: 100%;
}

.nav-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabs {
  color: #fff !important;
}
